.btn {
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  color: #fff;
  margin: 0 5px;
}

.add {
  background-color: #1503D7;
}

.remove {
  background-color: #C30808;
}

.edit {
  background-color: #F47B18;
}
