h1, h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

header h1 {
  background-color: #0D0D0D;
  color: #fff;
  width: 100vw;
  padding: 10px;
}

main header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

main header h2 {
  font-size: 1.5rem;
}