* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.2rem/1.6 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100vh;
  text-align: center;
}

main {
  margin: 20px 10px;
}

noscript {
  display: block;
  background-color: #FFC801;
  color: #D86D03;
  height: 30vh;
  padding: 30px;
  width: 100vw;
}